.course {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f2eae1;
}

.course__container {
  display: flex;
  flex-direction: column;
}

.course__title {
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.course__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.course__cards--card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
  padding: 10px;
  background-color: rgb(237, 172, 9);
  flex-grow: 1;
  align-self: stretch;
}

.course__cards--card:hover {
  cursor: pointer;
  box-shadow: 0 24px 28px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.course__cards--card:active {
  background-color: red;
}

.course__cards--imgs {
  width: 100%;
}

.course__cards--img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
}

.course__cards--title {
  font-family: "Lobster Two", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.course__cards--subtitle {
  max-height: 180px;
  font-family: "Lobster Two", cursive;
  font-size: 1rem;
  text-align: center;
  color: #333;
}

.course__cards--btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
}
