@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.navbar {
  background: rgb(249, 248, 248);
  box-shadow: 8px 8px 8px 8px #f5f6f8;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7ebf5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar__menu {
  display: none;
}

.navbar__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  display: none;
}

.navbar__logo--title .navbar__logo--link {
  font-family: "Lobster Two", cursive;
  font-weight: 500;
  font-style: bold;
  font-size: 40px;
  color: #253e5f;
  line-height: 20px;
  letter-spacing: 0%;
}

.navbar__logo--title .navbar__logo--link {
  position: relative;
  font-family: "Lobster Two", cursive;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  letter-spacing: 0;
}

/* TEXT GRADIENT ANIMATION */
@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.navbar__links--items {
  display: flex;
  align-items: center;
  gap: 18px;
}

.navbar__item--link {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: #253e5f;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.navbar__message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__message--title {
  font-family: " Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: #465363;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.navbar__message--link .navbar__mesage--icon,
.navbar__menu--icon {
  font-size: 25px;
  /* color: black; */
  transition: 0.8s all ease;
}

.navbar__message--link .navbar__mesage--icon:hover {
  transform: scale(1.3);
}

.instagram__icon:hover {
  color: rgb(221, 12, 81);
}

.telegram__icon:hover {
  color: rgb(7, 127, 240);
}

.github__icon:hover {
  color: rgb(0, 0, 0);
}

.book__icon:hover {
  color: rgb(241, 112, 65);
}

.linkedin__icon:hover {
  color: rgb(14, 130, 239);
}

/* /////////  MEDIA  ///////// */

@media (max-width: 800px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu {
    display: flex;
  }
}

@media (max-width: 430px) {
  .navbar__logo {
    display: none;
  }

  .navbar__logos {
    display: flex;
  }

  .navbar__logos .navbar__logo--title .navbar__logo--link {
    font-size: 30px;
    letter-spacing: 10px;
    background: linear-gradient(
    270deg,
    #253e5f,
    #4facfe,
    #02ea09,
    #253e5f,
    #e52d3f
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textGradient 6s ease infinite;
  }
}
