.banner {
  padding: 20px 0;
  background: #f9f9f9;
}

.banner__card {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.banner__card--img {
  width: 100%;
  height: 700px;
  border-radius: 15px;
}

/* .banner__card--img:hover {
  transform: scale(1.05);
} */
